@tailwind base;
@tailwind components;
@tailwind utilities;

/* Redução global de escala para todos elementos */
@layer base {
  :root {
    font-size: 14px; /* Reduz de 16px para 14px (87.5%) */
  }

  /* Redução de escala para textos grandes */
  h1, h2, h3, h4, h5, h6 {
    transform: scale(0.9);
    transform-origin: left center;
  }

  /* Redução de paddings e gaps globalmente */
  .container {
    @apply !px-4 !py-8;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 12, 18, 17;
  --background-end-rgb: 12, 18, 17;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
